<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sharepad!</title>
  <script src="https://cdn.tiny.cloud/1/y48txuam02hq8byhf3952372on9mn9fcuayd30d9usb381lx/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
  <style>
    .sharepad-focus {
      margin: auto auto;
      padding: 4em;
    }
  </style>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

</head>
<body>
  <div class="container sharepad-focus">
    <div class="sharepad-panel">
      <h1>Welcome to Sharepad!</h1>
    </div>
    <form method="post" action="/" name="sharepadForm">
      <textarea  placeholder="Welcome to Sharepad!" readonly="true" name="sharepadContent">
        <%= sharepadId %>
      </textarea>
      <input type="hidden" name="formsharepadID" value="<%= sharepadId %>">
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
  <script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'a11ychecker advcode casechange export formatpainter image editimage linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tableofcontents tinycomments tinymcespellchecker',
      toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter image editimage pageembed permanentpen table tableofcontents',
      toolbar_mode: 'floating',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
    });
  </script>
</body>
</html>